* {
    margin:0;
}
header{
    background-image: url("../../../img/bg-header.png");
    background-size: cover;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    nav{
        display: flex;
        background-color: #383c44;
        .flati1{
                width: 35%;
                height: 70px;
                ul{ 
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    color: white;
                    height: 100%;
                    
                    li{
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        color: white;
                        position: relative;
                        height: 80%;
                        padding-left: 10px;
                        padding-right:10PX;
                        
                    }
                    
                    // li:hover::before{
                    //     content: " ";
                    //     background-color: blue;
                    //     position: absolute;
                    //     width: 100%;
                    // }

                    li:hover{
                        background-color: #3874bc;
                    }
                    
                }

        
        }
        .flati2{
            width: 50%; 
                ul{
                    display: flex;
                    width: 100%;
                    justify-content: space-evenly;
                    align-items: flex-end;
                    list-style: none;
                    height: 100%;
                    li{
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    color: white;
                    height: 80%;
                    padding-left:10px;
                    padding-right: 10px;

                    }
                    li:hover{
                        background-color: #3874bc;
                    }
                }
        }
}   }